
body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
    background-image: url('Images/Lobby.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    min-height: 925px;
    bottom: 0px;
    background-color: white;
}

/* Adds the purple border and white text for page titles */
.welcome {
    border-radius: 25px;
    background: #660033;
    padding: 25px; 
    font-size: 20px;
    color: white;
    text-align: center;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.image {
    overflow: hidden;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
