
@{
    ViewBag.Title = "CoveredDevicesView";
}
<br/>
<hr/>
<div class="welcome">
    <h2>Devices Eligilbe For Coverage</h2>
</div>
<hr/>
<br/>

<div class="image center">
    <img src="~/Content/Images/appleLogo.jpg" />
</div>
<div align="center">
    <span style="color:#660033"><strong><h2>IOS Devices</h2></strong></span>
</div>

<table class="table table-striped table-bordered center">
    <tr>
        <td><p>IPhone 6</p></td>
    </tr>
    <tr>
        <td><p>IPhone 6+</p></td>
    </tr>
    <tr>
        <td><p>IPad3</p></td>
    </tr>
    <tr>
        <td><p>IPad4</p></td>
    </tr>
    <tr>
        <td><p>IPad Mini</p></td>
    </tr>
    <tr>
        <td><p>IPad Air</p></td>
    </tr>
    <tr>
        <td><p>IWatch</p></td>
    </tr>
</table>

<hr/>

<div class="image center">
    <img src="~/Content/Images/Android_robot.png" />
</div>

<div align="center">
    <span style="color:#660033"><strong><h2>Android Devices</h2></strong></span>
</div>

<table class="table table-striped table-bordered center">
    <tr>
        <td><p>HTC One</p></td>
    </tr>
    <tr>
        <td><p>HTC 10</p></td>
    </tr>
    <tr>
        <td><p>Samsung Galaxy</p></td>
    </tr>
    <tr>
        <td><p>Samsung Galaxy 7S Edge</p></td>
    </tr>
    <tr>
        <td><p>Pixel by Google</p></td>
    </tr>
</table>






<hr/>
@Html.ActionLink("Return Home", "Index", "Home", new { @id = "HomePage" }, new { @class = "btn btn-info" })
